@import 'variables';
@import 'sections';
@import 'classes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $black-dark;
}

#app {
  width: 100%;
  max-width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
