$white-light: #ffffff;
$white-dark: #f1f1f1;
$black-dark: #1e2124;
$black-light: #24272b;
$black-light-2: #363d42;
$blue-dark: #3362cc;
$blue-light: #407bff;
$grey-dark: #515b60;
$grey-light: #747c80;
$grey-blue-dark: #a1b6e6;
$grey-blue-light: #b3caff;
$grey-weak-blue-light: #e8f0fe;
$grey-weak-blue-dark: #dee5f1;
$golden: #f1af09;

$mobile: 768px;
$tablet: 769px;
$fullhd: 1080px;

$shadow: rgba(41, 41, 41, 0.397) 0px 2px 8px 0px;

$items-radius: 10px;
